<div class="work-area">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="component">
        <div class="component-title">
          <h3><fa-icon [icon]="providersIcon"></fa-icon>&nbsp; Providers</h3>
          <h5 *ngIf="!listView" class="current-provider">{{signalProviderLogin}}</h5>
        </div>
        <div *ngIf="listView" class="component-body">
          <div class="add-trader-area">
            <div class="rainbow" (click)="openDialog()">
              <fa-icon [icon]="addProviderIcon" [styles]="{'color': 'green'}"></fa-icon>
            </div>
          </div>
          <div class="table-area">
            <table class="table table-hover">
              <thead>
              <tr class="d-flex">
                <th class="col-md-1 col-4">#</th>
                <th class="col-md-9 col-4">Nickname</th>
                <th class="col-md-2 col-4">Delete</th>
              </tr>
              </thead>
              <tbody *ngIf="$providers | async as data">
              <tr *ngFor="let provider of data; let id = index" class="d-flex" (click)="changeSignalProvider( provider.login )">
                <th class="col-md-1 col-4 pointer-cursor">{{id + 1}}</th>
                <td class="col-md-9 col-4 pointer-cursor">{{provider.login}}</td>
                <td class="col-md-2 col-4"><div class="rotate-icon"><fa-icon [icon]="removeProviderIcon" size="2x"></fa-icon></div></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

<!--        ### TABS ####-->
        <div *ngIf="!listView" class="component-body">
          <div class="back-btn-area">
            <div class="btn btn-outline-primary rounded" (click)="switchView()">
              <fa-icon [icon]="backIcon" size="2x"></fa-icon>
            </div>
          </div>
          <ng-container *ngIf="isEmptyList; then emptyList; else nonEmptyList"></ng-container>
          <ng-template #emptyList>
            <div class="alert-card">
              <h3 class="text-danger text-to-center"> This trader does not have any connections </h3>
            </div>
          </ng-template>
          <ng-template #nonEmptyList>
              <form [formGroup]="connectionsForm">
                <div *ngFor="let connection of connectionsFormArray.controls; let i = index" class="connection-card">
                  <div [formGroup]="connection">
                    <div class="form-row inline-header">
                      <h3 class="m-0 p-0">{{connection.value.signalName}}</h3>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-8">
                        <label>IP-address</label>
                        <input class="form-control" placeholder="host" type="text" formControlName="host" />
                      </div>
                      <div class="form-group col-4">
                        <label>Port</label>
                        <input class="form-control" placeholder="port" type="number" formControlName="port" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-6">
                        <label>Signal name</label>
                        <input class="form-control" placeholder="alias" type="text" formControlName="signalName" />
                      </div>
                      <div class="form-group col-6">
                        <label>Login</label>
                        <input class="form-control" placeholder="login" type="text" formControlName="login" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-10 offset-1">
                        <label>Password</label>
                        <input class="form-control" type="password" formControlName="password" />
                      </div>
                    </div>
                    <div class="form-row mt-4">
                      <div class="form-group m-0 col-4 align-items-center">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" formControlName="active" />
                          <label class="form-check-label">Active</label>
                        </div>
                      </div>
                      <div class="form-group m-0 col-4 align-items-center">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" formControlName="allowFollow" />
                          <label class="form-check-label">Available</label>
                        </div>
                      </div>
                      <div class="col-4 vertical-align px-5">
                        <button class="btn btn-outline-success"
                                (click)="connection.enable(); updateConnection(connection.value, i)"
                                [disabled]="connection.invalid || connection.untouched || !connection.dirty">
                          Update
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
