.work-area {
  width: 100%;
  height: 100%;
}

.component {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-top: 120px;
  position: relative;
  overflow: visible;

  border: 1px #ededed solid;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

.component-title {
  width: 70%;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 15%;
  background: #3358f4;
  background: linear-gradient(0deg, rgba(26, 49, 98, 0.9) 0, #1e67be 100%);
  color: white;
  font-size: 1.4em;
  margin-top: -50px;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}

.component-body {
  width: 100%;
  height: auto;
  padding-top: 70px;
}

.add-trader-area {
  position: absolute;
  top: 8px;
  right: 12px;
}

.back-btn-area {
  position: absolute;
  top: 8px;
  left: 12px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 190%;
    height: 190%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 6s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 50%;
  }
}

.rotate-icon {
  width: fit-content;
  height: auto;
  color: rgb(220, 53, 69);
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

  &:hover {
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out 0s;
  }

}

//.table-label {
//  margin: 8px 0 18px 12px;
//  font-size: 0.9em;
//  color: rgba(83, 83, 83, 0.81);
//}

.current-provider {
  color: white;
}

.normal-text {
  text-decoration: none;
  font-weight: normal;
}

.pointer-cursor {
  cursor: pointer!important;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.icon-button {
  color: #007bff;
  cursor: pointer;
  border-radius: 10%;
  padding: 9px 12px;

  &:hover {
    border: solid 1px rgba(0,123,255,1);
    background-color: rgba(0,123,255,1);
    color: white;
  }
}

.disabled-line {
  background-color: rgba(195, 195, 195, 0.9) !important;
}

.connection-card {
  margin: 25px 0px;
  padding-right: 15px;
  padding-left: 15px;
}

.inline-header {
  margin-bottom: 12px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 10px;
  background-color: rgba(26, 49, 98, 0.9);
  color: white;
}

.text-to-center {
  text-align: center;
}

.alert-card {
  width: 100%;
  height: 100%;

  margin-top: 3rem;
}
