<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Edit signal</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close({status: false, data: {}})">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="editForm" [formGroup]="editForm" (ngSubmit)="modal.close({ status: true, data: editForm.value})">
    <div class="row my-4">
      <label class="col-6 col-form-label">Enable/Disable signal</label>
      <div class="col-6 flex-to-center">
        <label class="switch align-baseline m-0">
          <input type="checkbox" formControlName="enabled">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="row my-4">
      <label class="col-6 col-form-label">Signal name</label>
      <div class="col-6">
<!--         placeholder="Signal name"-->
        <input type="text" formControlName="signalName" [ngClass]="{'invalid-box': editForm.controls.signalName.invalid && editForm.controls.signalName.touched}" />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" form="editForm" class="btn btn-outline-success" [disabled]="editForm.invalid">Confirm</button>
</div>
