// CSS

.close {
  border: none!important;
  outline: none!important;
  &:focus {
    border: none!important;
    outline: none!important;
  }
}


input {
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  font-size: 13px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

.mark-box {
  width: 300px;
  margin-top: 5px;

  text-align: center;

  .small-text {
    //color: azure;
    font-size: 0.7em;
  }

  .span-link {
    color: #007bff;
    cursor: pointer;
  }
}

.invalid-box {
  border: 1px rgb(154, 28, 21) solid!important;
}

.flex-to-vertical-center {
  display: flex;
  //justify-content: center;
  align-items: center;
}


// Toggle btn
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
