<div class="backgound-wallpapers">
  <div class="login">
    <h1>Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="go(registerForm.value)">
      <input type="text" placeholder="Username" formControlName="username" [ngClass]="{'invalid-box': registerForm.controls.username.invalid && registerForm.controls.username.touched}" />
      <input type="password" placeholder="Password" formControlName="password" [ngClass]="{'invalid-box': registerForm.controls.password.invalid && registerForm.controls.password.touched}" />
      <div class="select">
        <select formControlName="role">
          <option selected hidden value="0">Select your role</option>
          <option value="signalAdmin">Signal Admin</option>
          <option value="signalProvider">Signal Provider</option>
          <option value="trader">Trader</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-large" [disabled]="registerForm.invalid">Go</button>
    </form>
    <div class="mark-box">
      <span class="small-text">Not a member? <a class="span-link" routerLink="/login"> Sign in now</a></span>
    </div>
  </div>
</div>
