<div class="work-area">
  <div class="row col-10 offset-1 ">
    <div class="profile">
      <div class="profile-title">
        <h3><fa-icon [icon]="faUserAlt" ></fa-icon> Profile</h3>
      </div>
      <div class="profile-body">
        <div class="body-content">
          <div class="form-wrapper">
            <form class="flex-fill" [formGroup]="profileForm" (ngSubmit)="submitChanges()">
              <div class="row">
                <div class="col-5 offset-1">
                  <span class="col-form-label form-label">Login</span>
                  <input type="text" class="form-control form-input" formControlName="login" disabled />
                </div>
                <div class="col-5">
                  <span class="col-form-label form-label">Name</span>
                  <input type="text" class="form-control form-input" formControlName="name" />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-5 offset-1">
                  <span class="col-form-label form-label">Type</span>
<!--                  <input type="text" class="form-control form-input" formControlName="type" />-->
                  <select class="form-control form-select" formControlName="type">
                    <option hidden value="0">Profile type</option>
                    <option value="IB">IB</option>
                    <option value="Broker">Broker</option>
                    <option value="MoneyManager">Money manager</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="col-5">
                  <span class="col-form-label form-label">Url name</span>
                  <input type="text" class="form-control form-input" formControlName="urlName" />
                </div>
              </div>
              <div class="row mt-4 mb-2">
                <div class="col-5 offset-7 action-area">
                  <button type="submit" class="btn btn-outline-success action-button" [disabled]="!profileForm.touched || profileForm.invalid || !formIsChanged">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
