.work-area {
  width: 100%;
  height: 100%;
}

.profile {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-top: 120px;
  position: relative;
  overflow: visible;

  border: 1px #ededed solid;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-title {
  width: 70%;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 15%;
  background: #3358f4;
  background: linear-gradient(0deg, rgba(26, 49, 98, 0.9) 0, #1e67be 100%);
  color: white;
  font-size: 1.4em;
  margin-top: -50px;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}

.profile-body {
  width: 100%;
  height: auto;

  .body-content {
    margin-top: 50px;
  }
}

.form-wrapper {
  padding: 30px 5px 10px 5px;
}

form {
  width: 100%;
  height: 100%;
}

.form-label {
  color: #7d7d7d;
  font-family: Poppins,sans-serif;
  margin-left: 8px;
}

.form-input {
  border: 1px rgba(99, 99, 99, 0.71) solid;
  border-radius: 12px;
  outline: none;
  margin: 3px;
}

.form-input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(82, 0, 102, 0.8);
}

.action-area {
  text-align: center;

  .action-button {
    width: auto;
    height: auto;
    padding: 5px 50px;
  }

}

.form-select {
  //width: 100%;
  border: 1px rgba(99, 99, 99, 0.71) solid;
  border-radius: 12px;
  outline: none;
  margin: 3px;

  cursor: pointer;
}
.form-select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(82, 0, 102, 0.8);
  border-radius: 12px 12px 2px 2px;
}

//.form-select > option {
//  background: #373A49;
//  color: #fff;
//  border: none;
//  outline: none;
//  box-shadow: none;
//}
