<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Registration</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close({status: false, data: {}})">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="RegisterForm" [formGroup]="registerForm" (ngSubmit)="go(registerForm.value)">
    <input type="text" placeholder="Username" formControlName="username" [ngClass]="{'invalid-box': registerForm.controls.username.invalid && registerForm.controls.username.touched}" />
    <input type="password" placeholder="Password" formControlName="password" [ngClass]="{'invalid-box': registerForm.controls.password.invalid && registerForm.controls.password.touched}" />
  </form>
</div>
<div class="modal-footer">
  <button type="submit" form="RegisterForm" class="btn btn-outline-success" [disabled]="registerForm.invalid">Confirm</button>
</div>
