// CSS

.close {
  border: none!important;
  outline: none!important;
  &:focus {
    border: none!important;
    outline: none!important;
  }
}


input {
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  font-size: 13px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

.mark-box {
  width: 300px;
  margin-top: 5px;

  text-align: center;

  .small-text {
    //color: azure;
    font-size: 0.7em;
  }

  .span-link {
    color: #007bff;
    cursor: pointer;
  }
}

.invalid-box {
  border: 1px rgb(154, 28, 21) solid!important;
}
