<div class="backgound-wallpapers">
  <div class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="go(loginForm.value)">
      <input type="text" placeholder="Username" required="required" formControlName="username" [ngClass]="{'invalid-box': loginForm.controls.username.invalid && loginForm.controls.username.touched}"/>
      <input type="password" placeholder="Password" required="required" formControlName="password" [ngClass]="{'invalid-box': loginForm.controls.password.invalid && loginForm.controls.password.touched}"/>
      <button type="submit" class="btn btn-primary btn-block btn-large" [disabled]="loginForm.invalid">Go</button>
    </form>
    <div class="mark-box">
      <span class="small-text">Not a member? <a class="span-link" routerLink="/register"> Sign up now</a></span>
    </div>
  </div>
</div>
