<div class="work-container">
  <div class="row m-0 h-100">
    <div class="col-2 pl-0">
      <div class="sidebar-container">
        <div class="menu-item">
          <a [routerLink]="'/user/profile'" [routerLinkActive]="'menu-item-active'"><fa-icon [icon]="profileIcon" class="pr-3" ></fa-icon>  Profile</a>
        </div>
        <div class="menu-item">
          <a [routerLink]="'/user/providers'" [routerLinkActive]="'menu-item-active'"><fa-icon [icon]="providersIcon" class="pr-3" ></fa-icon> Providers</a>
        </div>
        <div class="menu-item">
          <a [routerLink]="'/user/traders'" [routerLinkActive]="'menu-item-active'"><fa-icon [icon]="tradersIcon" class="pr-3" ></fa-icon> Traders</a>
        </div>
        <div class="menu-item">
          <a [routerLink]="'/user/connections'" [routerLinkActive]="'menu-item-active'"><fa-icon [icon]="connectionIcon" class="pr-3" ></fa-icon> Connections</a>
        </div>
        <div class="menu-bottom-item" (click)="logout()">
          <div><fa-icon [icon]="logoutIcon" class="pr-3"></fa-icon> Log out</div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
