.work-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-color: #f4f3ef;
  font-family: Poppins,sans-serif;
}

.sidebar-container {
  width: 250px;
  height: 100%;
  padding: 2% 0;
  position: fixed;
  top: 0;

  color: white;
  background: #3358f4;
  background: linear-gradient(0deg, rgba(26, 49, 98, 0.9) 0, #1e67be 100%);
  //background: rgb(14,156,175);
  //background: linear-gradient(0deg, rgba(14,156,175,1) 0%, rgba(81,74,157,1) 60%);

}

.menu-item {
  width: 100%;
  height: auto;

  font-size: 1.12em;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;


  a {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 8%;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.menu-bottom-item {
  position: absolute;
  bottom: 2%;
  left: 0;

  width: 100%;
  height: auto;

  font-size: 1.12em;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;

  div {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    text-decoration: none;
    color: white;
    padding:  8%;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

.menu-item-active:after {
  content: "•";
  font-size: 1.1em;
  color: #fff;
  text-shadow: #fff 0 0 5px;
  //margin:0 0 0 10px;
  position: absolute;
  top: 30%;
  right: 8%;
}
