<div class="work-area">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="component">
        <div class="component-title">
          <h3><fa-icon [icon]="tradersIcon"></fa-icon>&nbsp; Connections</h3>
          <h5 class="current-provider">(Total: {{ connectionsAmount }})</h5>
        </div>


        <div class="component-body">
          <ng-container *ngIf="isEmptyConnectionList; then emptyList; else nonEmptyList"></ng-container>
          <ng-template #emptyList>
            <div class="alert-card">
              <h3 class="text-danger text-to-center"> You don't have any connections </h3>
            </div>
          </ng-template>
          <ng-template #nonEmptyList>
            <form [formGroup]="connectionsForm">
              <div *ngFor="let connection of connectionsFormArray.controls; let i = index" class="connection-card">
                <div [formGroup]="connection">
                  <div class="form-row inline-header">
                    <h3 class="m-0 p-0">{{connection.value.signalName}}</h3>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-8">
                      <label>IP-address</label>
                      <input class="form-control" placeholder="host" type="text" formControlName="host" />
                    </div>
                    <div class="form-group col-4">
                      <label>Port</label>
                      <input class="form-control" placeholder="port" type="number" formControlName="port" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-6">
                      <label>Signal name</label>
                      <input class="form-control" placeholder="alias" type="text" formControlName="signalName" />
                    </div>
                    <div class="form-group col-6">
                      <label>Login</label>
                      <input class="form-control" placeholder="login" type="text" formControlName="login" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-10 offset-1">
                      <label>Password</label>
                      <input class="form-control" type="password" formControlName="password" />
                    </div>
                  </div>
                  <div class="form-row mt-4">
                    <div class="form-group m-0 col-4 align-items-center">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="active" />
                        <label class="form-check-label">Active</label>
                      </div>
                    </div>
                    <div class="form-group m-0 col-4 align-items-center">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="allowFollow" />
                        <label class="form-check-label">Available</label>
                      </div>
                    </div>
                    <div class="col-4 vertical-align px-5">
                      <button class="btn btn-outline-success"
                              (click)="connection.enable(); updateConnection(connection.value, i)"
                              [disabled]="connection.invalid || connection.untouched || !connection.dirty">
                        Update
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
