.work-area {
  width: 100%;
  height: 100%;
}

.component {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-top: 120px;
  position: relative;
  overflow: visible;

  border: 1px #ededed solid;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

.component-title {
  width: 70%;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 15%;
  background: #3358f4;
  background: linear-gradient(0deg, rgba(26, 49, 98, 0.9) 0, #1e67be 100%);
  color: white;
  font-size: 1.4em;
  margin-top: -50px;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}

.component-body {
  width: 100%;
  height: auto;
  padding-top: 70px;
}


.current-provider {
  color: white;
}

.normal-text {
  text-decoration: none;
  font-weight: normal;
}

.pointer-cursor {
  cursor: pointer!important;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.icon-button {
  color: #007bff;
  cursor: pointer;
  border-radius: 10%;
  padding: 9px 12px;

  &:hover {
    border: solid 1px rgba(0,123,255,1);
    background-color: rgba(0,123,255,1);
    color: white;
  }
}

.disabled-line {
  background-color: rgba(195, 195, 195, 0.9) !important;
}

.connection-card {
  margin: 25px 0px;
  padding-right: 15px;
  padding-left: 15px;
}

.inline-header {
  margin-bottom: 12px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 10px;
  background-color: rgba(26, 49, 98, 0.9);
  color: white;
}

.text-to-center {
  text-align: center;
}

.alert-card {
  width: 100%;
  height: 100%;

  margin-top: 3rem;
}
